In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [27]:
gdp_df= pd.read_csv('../data/gdp_per_capita.csv.csv')

gdp_df.head(10)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2023  1992.424394              NaN
1     Afghanistan  2022  1981.710168              NaN
2     Afghanistan  2021  2144.166570              NaN
3     Afghanistan  2020  2769.685745              NaN
4     Afghanistan  2019  2927.245144              NaN
5     Afghanistan  2018  2902.392113              NaN
6     Afghanistan  2017  2952.998916              NaN
7     Afghanistan  2016  2958.785399              NaN
8     Afghanistan  2015  2967.692067              NaN
9     Afghanistan  2014  3017.942544              NaN

In [28]:
gdp_df.tail(10)

     Country or Area  Year        Value  Value Footnotes
8209        Zimbabwe  1999  4238.195198              NaN
8210        Zimbabwe  1998  4342.858177              NaN
8211        Zimbabwe  1997  4304.406272              NaN
8212        Zimbabwe  1996  4271.479930              NaN
8213        Zimbabwe  1995  3935.280057              NaN
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

In [34]:
gdp_df= gdp_df.drop('Value Footnotes', axis=1)

In [47]:
gdp_df.shape
gdp_df.info()
#gdp_df.dtypes()
gdp_df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 192.8+ KB

Index(['Country or Area', 'Year', 'Value'], dtype='object')